*{

     margin: 0px;
     padding: 0px;
     box-sizing: border-box;

 }

#ones{
    height: 55px;
}

nav{
    display: flex; /*damit es nebeneinander ist*/
    justify-content: space-around; /* auseinander*/
    align-items: center;
    min-height: 7vh;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;



}


.registrierung{
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: -315px;
    right: -800px;
}

.logo{
    color: #221D23; /* schrift farbe*/
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    /* padding: 10px 20px 5px 7px;*/
    margin-left: -25.3%;



}
ul{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-right: -22%;

}

.a1{
    color: #221D23;
    text-decoration:none;
    letter-spacing: 2px;
    font-size: 15px;
    background-color: transparent;


}

a{
    color: #204e4a;
    text-decoration:none;
    letter-spacing: 2px;
    font-size: 15px;
    background-color: transparent;

}
li{
    list-style: none;

}


#ip1 {
    border-radius: 10px;
    border: 2px solid #cbc7cc;
    padding: 20px;
    width: 300px;
    height: 15px;

    position: relative;
    top: 210px;
    right: -800px;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}

#ip2 {
    border-radius: 10px;
    border: 2px solid #cbc7cc;
    padding: 10px;
    width: 300px;
   /* height: 15px;*/

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;

    position: relative;
    top: 220px;
    right: -800px;



}



#ip3 {
    border-radius: 10px;
    border: 2px solid #cbc7cc;
    padding: 20px;
    width: 300px;
    height: 15px;

    position: relative;
    top: 230px;
    right: -800px;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}



#ip4 {
    border-radius: 10px;
    border: 2px solid #cbc7cc;
    padding: 20px;
    width: 300px;
    height: 15px;

    position: relative;
    top: 240px;
    right: -800px;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}

#ip5 {
    border-radius: 10px;
    border: 2px solid #cbc7cc;
    padding: 20px;
    width: 300px;
    height: 15px;

    position: relative;
    top: 250px;
    right: -800px;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}

#im4{
    width: 450px;
    height: 500px;


    position: relative;
    top: -175px;
    right: -190px;
}

.registrierbutton{
    width:140px;
    height: 30px;
    border-radius: 12px;
    background-color: #204e4a;
    border: none;
    color: #E6E6E8;/*schrift*/

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;

    position: relative;
    bottom: -300px;
    right: -900px;




}

ues{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;

    position: relative;
    top:150px;
    left: 870px;

}

uns{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;

    position: relative;
    top:180px;
    left: 725px;

}
/*KEvins CSS*/

#strength{

    width: 300px;
    height: 15px;

    position: relative;
    top: 245px;
    right: -800px;
    background-color: #4CAF50;


}





[class*="col-"] {
    float: left;
    position: relative;
    padding: 15px;

}

.col-1 {

    width: 100%;
    display:flex;
    flex-wrap: wrap;


}

.col-2 {

    width: 30%;
    height:500px;
    top: 100px;
    right: 150px;
    z-index: 10;/*je höher desto weiter vorn ist es*/

}
.col-3 {

    width: 30%;
    height: 530px;
    z-index: 500;
    top: 100px;
    left: 725px;
    z-index: -10;
}


#img1 {
    height: 50px;
    width: 50px;
}


#img2{
    height: 450px;
    width: 400px;

    posititon: relative;
    top: 0px;
    right: 10px;

}

.textfelder{
    position: relative;
    right: 750px;
    bottom: 150px;
    flex-grow: 1;


}

